.cerpen {
	background-color: saddlebrown;
	padding: 10px;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.topnav {
	overflow: hidden;
	background-color: sandybrown;
}

.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 24px;
}

.topnav a:hover {
	background-color: chocolate;
	color: black;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 31.33%;
	padding: 15px;
	text-align: justify;
}

.footer {
	background-color: saddlebrown;
	padding: 18px;
	text-align: center;
}

.footer p:hover {
	background-color: white;
	color: chocolate;
}

.column2 {
	float: left;
	width: 100%;
	padding: 15px;
	text-align: justify;
}

.column3 {
	float: left;
	width: 64.67%;
	padding: 15px;
	text-align: justify;
}

img {
	width: 1200px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-color: white;
	border-width: 3px;
	border-style: solid;
}

.foto {
	background-color: saddlebrown;
	padding: 10px;
	margin-top: 159px; 
}

.fixed-nav {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%
}